# Пример конфигурации
# Нужно скопировать этот файл, переименовать в .env и вставить реальные данные
DATABASE_URL="postgresql://user:password@localhost:5432/blog_dev?schema=public"
# При сборке в контейнер поменять на 
# DATABASE_URL="postgresql://user:password@host.docker.internal:5432/blog_dev?schema=public"